doctype html
//if lt IE 9
  script.
    window.top.location = '/unsupported.html'

html.no-js(lang='en')
  head
    title #{title ? title : __('Bitcoin Casino - SatoshiBet')}

    meta(name='description', content="#{description ? description : __('Bitcoin Casino featuring European and American Roulette, Blackjack, Casino War, Slot Machine, Video Poker, Baccarat, Dice and Minesweeper. No downloads. Provably Fair. Anonymous.')}") 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='apple-touch-icon-precomposed', sizes='144x144', href=CDN('/img/touch/apple-touch-icon-144x144.png'))
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href=CDN('/img/touch/apple-touch-icon-114x114.png'))
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href=CDN('/img/touch/apple-touch-icon-72x72.png'))
    link(rel='apple-touch-icon-precomposed', href=CDN('/img/touch/apple-touch-icon.png'))

    != css('casino/casino')
    != css('casino/games/' + playGame)

    include ./_config

  body(class="#{free}")
    include casino/_header
    
    .g-container
      block content
   
    != js('application')
